<script> 
    let newitem ="";
    let todolist =[
        {text:"хлебушек", status: true}
    ]
    function AddTodo (){
        todolist = [...todolist, {text: newitem, status: false}];
		newitem = '';
    }
    function removetodo(index){
        todolist.splice(index,1)
        todolist = todolist;
    }

</script>


<div class = "parent">
    <div class= "header">
        <input bind:value={newitem} type="text" placeholder="Оп давай давай">
            <button class= "addBtn" on:click={AddTodo}>Add</button>                 
    </div>

    
    <br/>
{#each todolist as item, index}
	<input bind:checked={item.status} type="checkbox">
	<span class:checked={item.status}>{item.text}</span>
	<span on:click={() => removetodo(index)}>Удалить</span>
	<br/>
{/each}
      

 
</div>




<style>
	.checked {
        text-decoration: line-through;
    }
.parent {
 
display: flexbox;
 justify-content: center;
 align-items: center;
 align-content: space-between;
 border: 0px solid salmon;
 width: 100%;
 height: 90%; 
}

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}

/* Style the header */
.header {
  background-color: #f44336;
  padding: 30px 40px;
  color: white;
  text-align: center;
}

/* Clear floats after the header */
.header:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the input */
input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

/* Style the "Add" button */
.addBtn {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.addBtn:hover {
  background-color: #bbb;
}
</style>