<script>
    import { count } from "./Store.js";
    import { name } from "./Store.js";
   
    function Dobav() {
        if ($name != "") $count = [...$count, { text: $name, status: false,date : new Date() }]
        $name="";

        //count.update (n => $count);
        console.log(count);
    }
    let text = "";
	let modal = "modal";
	let indd = 0;
	const Update=(index) =>{
		indd = index
		text = $count[index].text;
		modal = "modal is-active";
    };
	const Close=() =>{
		modal = "modal";
    };
	const OK=() =>{
		$count[indd].text = text;
		modal = "modal";
    };
   

    function removeFromList(index) {
        $count.splice(index, 1);
        $count = [...$count];
    }
    const swap = (index) => {
        $count[index].status = !$count[index].status;
        $count = $count;
    };
    let cheaked = [];


    let i = 0;
    function deletez(){
        cheaked.forEach(item =>{
        console.log(item)
        item = item - i;
        $count.splice(item, 1);
        $count = [...$count];
        i = i + 1; 
        })
        i = 0;
        cheaked = [];}
    
    const vud=() =>{
        cheaked.forEach(item =>{
            $count[item].status = !$count[item].status
            cheaked = [];
        })
    }
</script>

<div style:align-items = center style:justify-content=center >
<button class = "ButtonDobav" on:click={Dobav}> Добавить </button>
<button class = "ButtonDelet" on:click={deletez}> Удалить выделенные записи </button>
</div>




<div class="wrapper">
    {#each $count as cnt, index}      
            <div class="clc" >
            <input type=checkbox bind:group={cheaked} value={index}/>
            <div class=dateTodo>
                {cnt.date.toLocaleString()}
            </div>
            <div  style:word-wrap = break-word style:align-self= flex-start
            class:checked={cnt.status} on:click={() => swap(index)}>
                  {cnt.text}
            </div>
            <button on:click= {() => Update(index)} >Редактирование</button>
            <div class="control-sign" on:click={() => removeFromList(index)}
                >❌</div>
        </div>  
    {/each}
</div>

<div class="{modal}" >
	<div class="modal-background" on:click= {() => Close()}></div>
	<div class="modal-card">``
	  <header class="modal-card-head">
		<p class="modal-card-title">Редактирование</p>
		<button class="delete" on:click= {() => Close()} aria-label="close"></button>
	  </header>
	  <section class="modal-card-body">
		<input class="input" bind:value={text}>
	  </section>
	  <footer class="modal-card-foot">
		<button class="button is-success" on:click= {() => OK()}>OK</button>
		<button class="button" on:click= {() => Close()}>Отмена</button>
	  </footer>
	</div>
</div>





<style>
    .dateTodo{
        width: 85px;
    }   

    .control-sign {
        height: 40px;
        width: 30px;
        line-height: 40px;
        text-align: center;      
    }

    .clc {
        display: grid;
        grid-template-columns: 10px 85px 4fr 1fr 30px;
        min-height: 30px;
        border-radius: 10px;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        margin-top: 10px;
        background-color: #d1d5d6;
        word-break:break-all;
        
    }

    .wrapper {
        display: grid;
        min-height: 50px;
        width: 90%;
        max-width: 1170px;
        margin-left: auto;
        margin-right: auto;
        word-wrap: break-word;
        overflow-y: scroll;
        grid-template-areas:
    "input ButtonDobav"
    "ButtonDelet"
    "clc";
}
.input {
  grid-area: input;
}
.ButtonDobav {
  grid-area: ButtonDobav;
  cursor: pointer;
  border: 2px solid #292c2f;
  border-radius: 25px;
}
.ButtonDelet {
  grid-area: ButtonDelet;
  cursor: pointer;
        border: 2px solid #292c2f;
        border-radius: 25px;
}    

    .checked {
        text-decoration: line-through;
    }
</style>
