<script>
    export let name2="Здесь";
</script>
<div>    
    <h2>{name2}</h2>
</div>

<style>
    .outer {
    display: flex;
    justify-content: center; /*Центрирование по горизонтали*/
    align-items: center;     /*Центрирование по вертикали */
    }
  </style>