<script>
import { tick } from "svelte";
import { ini_data, load_ini_data, group_selected, group_data} from "./Store copy";
let gs_sel = {};
let frm_sel = {};
let curs_sel = {};
let curs_by_form = [];
let gs_by_curs = [];
let data = $ini_data;
let gs_data = $group_data;

  async function on_gschange() {
      group_selected(gs_sel.GS_ID)
      console.log("group: ",gs_sel.GS_ID );
        
    }
    
  function on_frmchange() {

        curs_sel = "null";
        curs_by_form = frm_sel.arr;
    }
  function on_curschange() {

        gs_sel = "null";
        gs_by_curs = curs_sel.arr;
    }

</script>


<div class="wrapper">
      
  
  <div class="select is-primary sel-wrapp">
    <select
      bind:value={frm_sel}
      on:change={on_frmchange}
      on:blur={null}>
      <option value="null" selected disabled>
        Выберите форму обучения
      </option>
      
      {#each data as item}
          <option value={item}>
            {item.FormEduName}
          </option>
      {/each}
    </select>

    
  </div>
  
    <div class="select is-primary sel-wrapp">
      <select bind:value={curs_sel} on:change={on_curschange} on:blur={null}>
        <option value="null" selected disabled>
          Выберите курс
        </option>
        {#each curs_by_form as item}
          <option value={item}>
              {item.Curs + " курс"}
          </option>
        {/each}
      </select>
    
  </div>

  
    <div class="select is-primary sel-wrapp">
            <select bind:value={gs_sel} on:change={on_gschange} on:blur={null}>
                {#each gs_by_curs as item}
                    <option value={item}>
                        {item.GSName}
                    </option>
                {/each}
            </select>
        
  </div>
</div>  
<div>
{#each gs_by_curs as item}
  f
{/each}
</div>

  

      
  

  
  