<script>
	import { count } from './Store.js';
	import { name } from './Store.js';
	import Dobav from "./Dobav.svelte"
	let name2
	
</script>

<div class="container">
<input bind:value = {$name} placeholder="Введите запись">
<Dobav/>
</div>



<style>
	input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #292c2f;
    border-radius: 4px;
}
	
	.container{

  
  border: 6px solid #7922CC;
  border-radius: 10px;
		width:75%;
		padding:20px;
		margin:auto auto; 
		border: 2px solid #292c2f;
	}
</style>