<script>

import Nothing from "./nothing.svelte";
import Text1 from "./Vuasia.svelte";
import Todo from "./todo.svelte";
import Raspisanie from "./Raspisanie.svelte";
import XO from "./XO.svelte";

	const array = [
		{ name: Nothing.name, component: Nothing},
		{ name: Text1.name, component: Text1},
    { name: Todo.name, component: Todo},
    { name: Raspisanie.name, component: Raspisanie},
    { name: XO.name, component: XO},    
		];
	let selected = 1;


	const Press=(index) =>{selected = index};
    
</script>

<div class=footer-distributed>
    <div class= parent>

        <button class="button7"  on:click={() =>Press(0)} >
         {array[0].name}
        </button>
        <button class="button7"  on:click={() =>Press(1)}> 
          {array[1].name}
        </button>
        <button class="button7" on:click={() =>Press(2)}>
          {array[2].name} 
        </button>
        <button class="button7" on:click={() =>Press(3)}>
          {array[3].name} 
        </button>
        <button class="button7" on:click={() =>Press(4)}>
          {array[4].name} 
        </button>
    </div>
</div>

<div class ="container">
<svelte:component this={array[selected].component} name = {Text1.number}/>
</div>


<style>
  .container2{
    display: flex;
 justify-content: center;
 align-items: center;
  margin: auto;
  height: 80%;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: auto;  
  height: auto;
  min-height: 400px;  
  overflow: auto;
  flex-direction: column;
}

  .footer-distributed {
 
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  
  font: normal 16px sans-serif;
  
}

.button7 {
  
  color: white;
  text-decoration: none;
  padding: .8em 1em calc(.8em + 3px);
  border-radius: 3px;
  background: rgb(7, 27, 17);
  box-shadow: 0 -3px rgb(2, 14, 8) inset;
  transition: 0.2s;
  margin: 10px;
  
} 
.button7:hover { background: rgb(53, 167, 110); }
.button7:active {
  background: rgb(33,147,90);
  box-shadow: 0 3px rgb(33,147,90) inset;
}

.parent {
 
 display: flex;
 justify-content: center;
 align-items: center;
 align-content: space-around;

}

</style>