<script>
    
    let name="Вася";
    let name2="Здесь был";
    let cmp = true;
    function f1(){cmp = !cmp};
</script>

<div class="parent">
<div class="outer">
    <div>
        Здесь
    </div>
</div>

{#if cmp}
<div class="outer">
    <div>
        был Вася
    </div>
</div>
{:else}
<div class="outer">
    <div>
         Васю били хакеры из Харькова
    </div>
</div>
{/if}

<div class=button>
    <button on:click={f1}>
        {#if cmp}
        Идти дальше
        {:else}
        Идти обратно
        {/if}
    </button>
</div>
</div>



<style>
    .outer {
    display: flex;
    justify-content: center; /*Центрирование по горизонтали*/
    align-items: center;
         /*Центрирование по вертикали */
    }
    .button {
    color: white;
    font-size: 26px;
    align-items: center;
    justify-content: center;
    display: flex;
    }
    .parent {
 display: flex;
 flex-flow: column nowrap;
 justify-content: center;
 align-items: center;
 align-content: space-between;
 border: 0px solid salmon;
 width: 100%;
 height: 90%; 
}
</style>