<script>
	import Layout from "./comps/layout.svelte";
    import Podval from "./comps/podval.svelte";
	import Text1 from "./comps/Vuasia.svelte";
    import Toolbar from "./comps/Toolbar.svelte";
import Background from "./comps/Background.svelte";
import ini_data from "./comps/Store copy";

import "bulma/css/bulma.css"
	let cmp = true;
	function f1(){cmp = !cmp};

ini_data();

</script>

<Toolbar>
    
</Toolbar>

<Podval/>



<style>
    /* .parent {
 display: flex;
 flex-flow: column nowrap;
 justify-content: center;
 align-items: center;
 align-content: space-between;
 border: 1px solid salmon;
 width: 100%;
 height: 100%; 
}
    
	

    

	.couteiner {
    display: block;
    width: 100px;
    border: 1px solid salmon;  
	
}

.my-flex-box {
	margin: 5px;
	padding: 5px;
	flex: 0 1 auto;
}
.content{
  width: 850px; 
  margin: auto;
  margin-bottom: 350px; /* Same height as footer */
  /* padding: 100px 0;
} */ 
  </style>


